body {
    zoom: 200%;
    width: 480px;
    // height: 250%;
    // background-color: #f2f2f2;
}

.AdaptiveMedia-photoContainer {
  height: initial;
  width: 150%;
}

.translate, .translate a {
  color: #C0392B;
}

.AdaptiveMedia-doublePhoto {
  font-size: 0;
  height: 178px;
  width: 395px;
}

.AdaptiveMedia-triplePhoto {
  width: 386px;
  height: 267px;
}

.AdaptiveMedia-quadPhoto {
  height: 260px;
  width: 400px;
}

.QuoteMedia {
  width: 76px;
  height: 76px;
}

// .AdaptiveMedia-thirdHeightPhoto {
//   width: 200%;
// }