body {
    zoom: 200%;
    width: 480px;
    // height: 250%;
    // background-color: #f2f2f2;
}

.AdaptiveMedia-photoContainer {
  height: initial;
  width: 150%;
}

.translate, .translate a {
  color: #C0392B;
}

.AdaptiveMedia-doublePhoto {
  font-size: 0;
  height: 178px;
  width: 395px;
}

.AdaptiveMedia-triplePhoto {
  width: 393px;
  height: 247px;
}

.AdaptiveMedia-quadPhoto {
  height: 300px;
  width: 400px;
}

.QuoteMedia {
  width: 76px;
  height: 76px;
}

.tweet-text {
  display: none;
}

.tweet-text.translate {
  display: initial;
  // color: black;
}