body {
    zoom: 200%;
}

body, html{
    overflow-y: visible;
}

.TalkPost__content--media>img, .TalkPost__content>img{
    width: 3.6rem;
}

.RetalkPost--dayStart, .TalkPost--dayStart{
    margin-top: 54px;
}

.RetalkPost--dayStart:before, .TalkPost--dayStart:before{
    top: -30px;
}

.TalkPage__TalkList{
    padding-bottom: 30px;
    width: 440px;
}

.TalkPost, .TalkPost--dayStart, .TalkPost--start
{
    width: 420px;
    margin-left: 0px;
}

.RetalkPost, .RetalkPost--dayStart, .RetalkPost--start{

    width: 380px;
    margin-left: 40px;
}

/*.TalkPost__media{
    height: 462px
}*/