body {
    zoom: 200%;
    background-color: #f2f2f2;
}

.tranlate-text{
    color: red;
}

body, html{
    overflow-y: visible;
}

.TalkPost__content--media>img, .TalkPost__content>img{
    width: 3.6rem;
}

.RetalkPost__content--media>img, .RetalkPost__content>img{
    width: 3.6rem;
}

.RetalkPost--dayStart, .TalkPost--dayStart{
    margin-top: 54px;
}

.RetalkPost--dayStart:before, .TalkPost--dayStart:before{
    top: -30px;
}

.TalkPage__TalkList{
    padding-bottom: 10px;
    width: 500px;
}

.TalkPost, .TalkPost--dayStart, .TalkPost--start
{
    width: 480px;
    margin-left: 0px;
}

.RetalkPost{
    width: 440px;
    margin-left: 40px;
}


.RetalkPost__username {
    display: inline-block;
}

.TalkPostQuote__officialIcon {
    display: inline-block;
    margin-left: 3px;
    width: 12px;
    height: 12px;
}

// .RetalkPost, .RetalkPost--dayStart, .RetalkPost--start{

//     width: 380px;
//     margin-left: 40px;
// }

/*.TalkPost__media{
    height: 462px
}*/