body, html{
    overflow-y: visible;
}

.RetalkPost--dayStart, .TalkPost--dayStart{
    margin-top: 54px;
}

.RetalkPost--dayStart:before, .TalkPost--dayStart:before{
    top: -30px;
}

.TalkPage__TalkList{
    padding-bottom: 30px;
    width: 670px;
}

.TalkPost, .TalkPost--dayStart, .TalkPost--start{
    width: 610px;
    margin-left: 0px;
}

.RetalkPost, .RetalkPost--dayStart, .RetalkPost--start{
    width: 570px;
    margin-left: 40px;
}

.TalkPost__media{
    height: 715px
}